.gallery {
  width: 330px;
  margin: 0;
  padding: 0;
}
.comic-content {width:600px;}
.social-content {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
    overflow: hidden;
}
.comic-content .col-12:nth-child(n+4) {
    display: none;
}
.social-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: .4s;
}
.gallery li { 
  display: none;
  float: left;
  list-style: none;
  margin-right: 10px;
}
.more, .less {
  background-color: #000;
  clear: both;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-top: 6px;
  padding: 6px 0;
  text-align: center;
	text-transform: uppercase;
  width: 320px;
}